/* basic structure */
body, h1, h2, p, ul {
    margin: 5px;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #c2c2c2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}
/*  end of basic structure*/

/* menu */
.horizontal-menu li {
    display: inline;
}

.horizontal-menu li {
    float: left;
}

.horizontal-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-menu li a:hover {
    background-color: #ddd;
    color: black;
}
/* end of menu */

/* main section */
.main-section {
    position: relative;
}

.main-section img {
    width: 100%;
    height: 100%;
}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.main-text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.main-text p {
    font-size: 1.2em;
    margin-bottom: 30px;
}
/*end of main section */

/* button */
.cta-button {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
}
.cta-button:hover {
    background-color: #ddd;
}
button {
    transform: scale(1.3);
    }

/* end of button */
/* product */
.product-card img{
    width: 100%;
    height: 100%;
  }
.product-details img{
    width: 30%;
    height: 30%;
}
.product-main img{
    width: 100%;
    height: 100%;
}
.product-purchase{
    font-size: 1.2em;
}
/* end of product */
/* contact */
.textarea{
    height: 100px;
    width: 50%;
  }
/*end of contact */